.services-know-more {
    background-color: #ffffff;
    display: grid;
    justify-items: center;
    align-items: start;
    width: 100vw;
}

.services-know-more .div {
    background-color: #ffffff;
    width: 1440px;
    height: 3952px;
    position: relative;
}

.services-know-more .overlap {
    position: absolute;
    width: 1440px;
    height: 3256px;
    top: -6px;
    left: 0;
}

.services-know-more .strategy {
    position: absolute;
    width: 1440px;
    height: 708px;
    top: 0;
    left: 0;
    background-color: #ffffff;
}

.services-know-more .text-wrapper {
    position: absolute;
    width: 832px;
    top: 291px;
    left: 54px;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-weight: 600;
    color: #5b5b5b;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
}

.services-know-more .navbar {
    position: absolute;
    width: 1320px;
    height: 81px;
    top: 26px;
    left: 60px;
    background-color: #000000;
    border-radius: 41.35px;
}

.services-know-more .overlap-group {
    position: absolute;
    width: 210px;
    height: 62px;
    top: 10px;
    left: 1102px;
    background-color: #007aec;
    border-radius: 38.56px;
}

.services-know-more .text-wrapper-2 {
    position: absolute;
    top: 17px;
    left: 25px;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 19.5px;
    letter-spacing: 0;
    line-height: normal;
}

.services-know-more .next-right-arrow-wrapper {
    position: absolute;
    width: 57px;
    height: 57px;
    top: 2px;
    left: 149px;
    background-color: #000000bf;
    border-radius: 28.38px;
}

.services-know-more .next-right-arrow {
    position: relative;
    width: 20px;
    height: 20px;
    top: 19px;
    left: 12px;
    transform: rotate(-42.60deg);
}

.services-know-more .vector {
    /* position: absolute;
    width: 13px;
    height: 13px;
    top: 4px;
    left: 4px;*/
    transform: rotate(42.60deg);
}

.services-know-more .text-wrapper-3 {
    width: 58px;
    top: 29px;
    left: 445px;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.80px;
    position: absolute;
    color: #ffffff;
    line-height: normal;
}

.services-know-more .text-wrapper-4 {
    width: 95px;
    top: 29px;
    left: 522px;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.80px;
    position: absolute;
    color: #ffffff;
    line-height: normal;
}

.services-know-more .text-wrapper-5 {
    width: 67px;
    top: 29px;
    left: 636px;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.80px;
    position: absolute;
    color: #ffffff;
    line-height: normal;
}

.services-know-more .text-wrapper-6 {
    width: 66px;
    top: 29px;
    left: 723px;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.80px;
    position: absolute;
    color: #ffffff;
    line-height: normal;
}

.services-know-more .text-wrapper-7 {
    width: 69px;
    top: 29px;
    left: 805px;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.80px;
    position: absolute;
    color: #ffffff;
    line-height: normal;
}

.services-know-more .text-wrapper-8 {
    top: 19px;
    left: 108px;
    font-family: "Audiowide-Regular", Helvetica;
    font-weight: 400;
    font-size: 32.4px;
    letter-spacing: 1.62px;
    position: absolute;
    color: #ffffff;
    line-height: normal;
}

.services-know-more .subtract {
    position: absolute;
    width: 58px;
    height: 53px;
    top: 14px;
    left: 34px;
}

.services-know-more .strategy-2 {
    position: absolute;
    width: 1440px;
    height: 2190px;
    top: 575px;
    left: 0;
    background-color: #00080f;
    border-radius: 30px 30px 0px 0px;
}

.services-know-more .buttons {
    display: flex;
    width: 173px;
    height: 44px;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 10px;
    position: absolute;
    top: 180px;
    left: 60px;
    border-radius: 57px;
    overflow: hidden;
    border: 2px solid;
    border-color: #c7c7c7;
    background: linear-gradient(0deg,
            rgba(243, 243, 243, 1) 0%,
            rgba(243, 243, 243, 1) 100%), linear-gradient(0deg, rgba(56, 56, 56, 1) 0%, rgba(56, 56, 56, 1) 100%);
}

.services-know-more .text-wrapper-9 {
    position: relative;
    width: 89px;
    margin-top: -1.00px;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-weight: 600;
    color: #8a8a8a;
    font-size: 19.9px;
    letter-spacing: 0;
    line-height: normal;
}

.services-know-more .div-wrapper {
    width: 173px;
    height: 44px;
    gap: 12px;
    top: 180px;
    left: 254px;
    background: linear-gradient(0deg,
            rgba(56, 56, 56, 1) 0%,
            rgba(56, 56, 56, 1) 100%),
        linear-gradient(0deg,
            rgba(243, 243, 243, 1) 0%,
            rgba(243, 243, 243, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: absolute;
    border-radius: 57px;
    overflow: hidden;
}

.services-know-more .text-wrapper-10 {
    position: relative;
    width: 131px;
    margin-top: -2.00px;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 19.9px;
    letter-spacing: 0;
    line-height: normal;
}

.services-know-more .buttons-2 {
    width: 237px;
    height: 44px;
    gap: 12px;
    top: 180px;
    left: 448px;
    background-color: #f2f2f2;
    border: 2px solid;
    border-color: #c7c7c7;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: absolute;
    border-radius: 57px;
    overflow: hidden;
}

.services-know-more .text-wrapper-11 {
    position: relative;
    width: 151px;
    margin-top: -2.00px;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-weight: 600;
    color: #8a8a8a;
    font-size: 19.9px;
    letter-spacing: 0;
    line-height: normal;
}

.services-know-more .buttons-3 {
    width: 237px;
    height: 44px;
    gap: 12px;
    top: 180px;
    left: 706px;
    border: 2px solid;
    border-color: #c7c7c7;
    background: linear-gradient(0deg,
            rgba(243, 243, 243, 1) 0%,
            rgba(243, 243, 243, 1) 100%), linear-gradient(0deg, rgba(56, 56, 56, 1) 0%, rgba(56, 56, 56, 1) 100%),
        linear-gradient(0deg,
            rgba(243, 243, 243, 1) 0%,
            rgba(243, 243, 243, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: absolute;
    border-radius: 57px;
    overflow: hidden;
}

.services-know-more .text-wrapper-12 {
    position: relative;
    width: 175px;
    margin-top: -2.00px;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-weight: 600;
    color: #8a8a8a;
    font-size: 19.9px;
    letter-spacing: 0;
    line-height: normal;
}

.services-know-more .line {
    position: absolute;
    width: 1326px;
    height: 1px;
    top: 257px;
    left: 54px;
    object-fit: cover;
}

.services-know-more .p {
    position: absolute;
    width: 555px;
    top: 684px;
    left: 825px;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}

.services-know-more .at-the-core-of-our {
    position: absolute;
    width: 555px;
    height: 1073px;
    top: 794px;
    left: 828px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #a7a7a7;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}

.services-know-more .buttons-4 {
    width: 296px;
    height: 64px;
    gap: 12px;
    top: 1902px;
    left: 825px;
    background-color: #1a1a1a;
    border: 2px solid;
    border-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: absolute;
    border-radius: 57px;
    overflow: hidden;
}

.services-know-more .text-wrapper-13 {
    width: 143px;
    font-size: 19.9px;
    position: relative;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    letter-spacing: 0;
    line-height: normal;
}

.services-know-more .vector-wrapper {
    position: relative;
    width: 19.63px;
    height: 19.63px;
    transform: rotate(-42.60deg);
}

.services-know-more .img {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 3px;
    left: 4px;
    transform: rotate(42.60deg);
}

.services-know-more .rectangle {
    position: absolute;
    width: 569px;
    height: 671px;
    top: 876px;
    left: 54px;
    object-fit: cover;
    transform: rotate(-90deg);
}

.services-know-more .text-wrapper-14 {
    position: absolute;
    top: 2211px;
    left: 60px;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
}

.services-know-more .text-wrapper-15 {
    position: absolute;
    width: 174px;
    top: 2211px;
    left: 384px;
    font-family: "Montserrat-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.services-know-more .text-wrapper-16 {
    position: absolute;
    width: 174px;
    top: 2211px;
    left: 751px;
    font-family: "Montserrat-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.services-know-more .text-wrapper-17 {
    position: absolute;
    width: 202px;
    top: 2211px;
    left: 1144px;
    font-family: "Montserrat-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.services-know-more .text-wrapper-18 {
    position: absolute;
    width: 213px;
    top: 2282px;
    left: 384px;
    font-family: "Montserrat-Medium", Helvetica;
    font-weight: 500;
    color: #898989;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 32px;
}

.services-know-more .text-wrapper-19 {
    position: absolute;
    width: 239px;
    top: 2282px;
    left: 751px;
    font-family: "Montserrat-Medium", Helvetica;
    font-weight: 500;
    color: #898989;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 32px;
}

.services-know-more .text-wrapper-20 {
    position: absolute;
    width: 239px;
    top: 2282px;
    left: 1144px;
    font-family: "Montserrat-Medium", Helvetica;
    font-weight: 500;
    color: #898989;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 32px;
}

.services-know-more .text-wrapper-21 {
    position: absolute;
    width: 239px;
    top: 2337px;
    left: 384px;
    font-family: "Montserrat-Medium", Helvetica;
    font-weight: 500;
    color: #898989;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 32px;
}

.services-know-more .text-wrapper-22 {
    position: absolute;
    width: 239px;
    top: 2337px;
    left: 751px;
    font-family: "Montserrat-Medium", Helvetica;
    font-weight: 500;
    color: #898989;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 32px;
}

.services-know-more .text-wrapper-23 {
    position: absolute;
    width: 239px;
    top: 2337px;
    left: 1144px;
    font-family: "Montserrat-Medium", Helvetica;
    font-weight: 500;
    color: #898989;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 32px;
}

.services-know-more .text-wrapper-24 {
    position: absolute;
    width: 239px;
    top: 2392px;
    left: 384px;
    font-family: "Montserrat-Medium", Helvetica;
    font-weight: 500;
    color: #898989;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 32px;
}

.services-know-more .text-wrapper-25 {
    position: absolute;
    width: 239px;
    top: 2392px;
    left: 751px;
    font-family: "Montserrat-Medium", Helvetica;
    font-weight: 500;
    color: #898989;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 32px;
}

.services-know-more .text-wrapper-26 {
    position: absolute;
    width: 239px;
    top: 2392px;
    left: 1144px;
    font-family: "Montserrat-Medium", Helvetica;
    font-weight: 500;
    color: #898989;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 32px;
}

.services-know-more .text-wrapper-27 {
    position: absolute;
    width: 239px;
    top: 2447px;
    left: 384px;
    font-family: "Montserrat-Medium", Helvetica;
    font-weight: 500;
    color: #898989;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 32px;
}

.services-know-more .text-wrapper-28 {
    position: absolute;
    width: 239px;
    top: 2447px;
    left: 751px;
    font-family: "Montserrat-Medium", Helvetica;
    font-weight: 500;
    color: #898989;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 32px;
}

.services-know-more .text-wrapper-29 {
    position: absolute;
    width: 239px;
    top: 2447px;
    left: 1144px;
    font-family: "Montserrat-Medium", Helvetica;
    font-weight: 500;
    color: #898989;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 32px;
}

.services-know-more .text-wrapper-30 {
    position: absolute;
    width: 239px;
    top: 2502px;
    left: 384px;
    font-family: "Montserrat-Medium", Helvetica;
    font-weight: 500;
    color: #898989;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 32px;
}

.services-know-more .text-wrapper-31 {
    position: absolute;
    width: 239px;
    top: 2502px;
    left: 751px;
    font-family: "Montserrat-Medium", Helvetica;
    font-weight: 500;
    color: #898989;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 32px;
}

.services-know-more .text-wrapper-32 {
    position: absolute;
    width: 239px;
    top: 2502px;
    left: 1144px;
    font-family: "Montserrat-Medium", Helvetica;
    font-weight: 500;
    color: #898989;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 32px;
}

.services-know-more .lets-collaborate {
    position: absolute;
    width: 1440px;
    height: 523px;
    top: 2733px;
    left: 0;
    background-color: #ffffff;
    border-radius: 30px 30px 0px 0px;
}

.services-know-more .text-wrapper-33 {
    position: absolute;
    width: 1318px;
    top: 2876px;
    left: 54px;
    font-family: "Montserrat-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 54.1px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.services-know-more .buttons-5 {
    width: 1318px;
    height: 101px;
    gap: 20px;
    top: 3088px;
    left: 54px;
    background-color: #007aec;
    border: 2px solid;
    border-color: #b9ddff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: absolute;
    border-radius: 57px;
    overflow: hidden;
}

.services-know-more .text-wrapper-34 {
    width: 412px;
    font-size: 48px;
    position: relative;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    letter-spacing: 0;
    line-height: normal;
}

.services-know-more .vector-2 {
    position: relative;
    width: 30.49px;
    height: 30px;
}

.services-know-more .overlap-2 {
    position: absolute;
    width: 1440px;
    height: 702px;
    top: 3250px;
    left: 0;
    background-color: #191919;
}

.services-know-more .text-wrapper-35 {
    position: absolute;
    top: 142px;
    left: 743px;
    font-family: "Montserrat-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 64px;
    letter-spacing: 0;
    line-height: normal;
}

.services-know-more .text-wrapper-36 {
    position: absolute;
    top: 137px;
    left: 917px;
    font-family: "Montserrat-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 64px;
    letter-spacing: 0;
    line-height: normal;
}

.services-know-more .text-wrapper-37 {
    position: absolute;
    top: 142px;
    left: 984px;
    font-family: "Montserrat-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 64px;
    letter-spacing: 0;
    line-height: normal;
}

.services-know-more .frame {
    position: absolute;
    width: 116px;
    height: 54px;
    top: 221px;
    left: 1264px;
    background-color: #007aec;
    border-radius: 57px;
    overflow: hidden;
    border: 2px solid;
    border-color: #ffffff;
}

.services-know-more .vector-3 {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 13px;
    left: 45px;
}

.services-know-more .text-wrapper-38 {
    position: absolute;
    width: 92px;
    top: 197px;
    left: 60px;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}

.services-know-more .text-wrapper-39 {
    position: absolute;
    width: 104px;
    top: 263px;
    left: 60px;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}

.services-know-more .text-wrapper-40 {
    position: absolute;
    width: 139px;
    top: 329px;
    left: 60px;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}

.services-know-more .text-wrapper-41 {
    position: absolute;
    width: 116px;
    top: 395px;
    left: 60px;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}

.services-know-more .text-wrapper-42 {
    position: absolute;
    width: 125px;
    top: 461px;
    left: 60px;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}

.services-know-more .text-wrapper-43 {
    position: absolute;
    width: 78px;
    top: 197px;
    left: 346px;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}

.services-know-more .text-wrapper-44 {
    position: absolute;
    width: 133px;
    top: 263px;
    left: 346px;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}

.services-know-more .text-wrapper-45 {
    position: absolute;
    width: 174px;
    top: 329px;
    left: 346px;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}

.services-know-more .google {
    position: absolute;
    width: 38px;
    height: 38px;
    top: 640px;
    left: 60px;
}

.services-know-more .instagram {
    position: absolute;
    width: 38px;
    height: 38px;
    top: 640px;
    left: 120px;
}

.services-know-more .facebook-svgrepo-com {
    position: absolute;
    width: 38px;
    height: 38px;
    top: 640px;
    left: 177px;
}

.services-know-more .img-wrapper {
    position: relative;
    width: 32px;
    height: 32px;
    /* top: 3px;
    left: 3px; */
    /* background-image: url(./img/vector-5.svg); */
    background-size: 100% 100%;
}

.services-know-more .vector-4 {
    /* position: absolute;
    width: 9px;
    height: 17px;
    top: 7px;
    left: 12px; */
}

.services-know-more .linkedin-svgrepo-com {
    position: absolute;
    width: 38px;
    height: 38px;
    top: 640px;
    left: 234px;
}

.services-know-more .overlap-3 {
    position: relative;
    width: 32px;
    height: 32px;
    /* top: 3px;
    left: 3px; */
    /* background-image: url(./img/vector-6.svg); */
    background-size: 100% 100%;
}

.services-know-more .vector-5 {
    position: absolute;
    width: 4px;
    height: 16px;
    top: 6px;
    left: 8px;
}

.services-know-more .vector-6 {
    /* position: absolute;
    width: 11px;
    height: 12px;
    top: 11px;
    left: 14px; */
}

.services-know-more .text-wrapper-46 {
    position: absolute;
    top: 649px;
    left: 959px;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.services-know-more .text-wrapper-47 {
    position: absolute;
    top: 649px;
    left: 1098px;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.services-know-more .text-wrapper-48 {
    position: absolute;
    top: 650px;
    left: 1179px;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.services-know-more .frame-2 {
    display: flex;
    flex-direction: column;
    width: 69px;
    height: 69px;
    align-items: flex-start;
    gap: 10px;
    padding: 15px 14px;
    position: absolute;
    top: 590px;
    left: 686px;
    background-color: #012d57;
    border-radius: 34.5px;
}

.services-know-more .vector-7 {
    position: relative;
    width: 39px;
    height: 37.64px;
}